
#topnav{
	z-index:1000;
	font-size:17px;
	text-align:center;
	text-transform:uppercase;
	}

.nav, .nav *{
	margin:0;
	padding:0;
	list-style:none;
	}
/*the topnav ul and li size*/
.nav ul{
	position:absolute;
	top:-9em;
	width:119px; /* left offset of submenus need to match (see below) */
	}
	
.nav ul li{
	width:10px;
	}
	
.nav li:hover{
	visibility:inherit; /* fixes IE7 'sticky bug' */
	}
	
.nav li{
	position:relative;
	display:inline-block;
	zoom:1; /* fixes IE7 Display mode */
    *display:inline; /* fixes IE7 Display mode */
	}
	
.nav a{
	display:block;
	position:relative;
	}
	
.nav li:hover ul, .nav li.sfHover ul{
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
	}
	
ul.nav li:hover li ul, ul.nav li.sfHover li ul{
	top:-999em;
	}
	
ul.nav li li:hover ul, ul.nav li li.sfHover ul{
	left:7em; /* match ul width control the 1 ul>li*/
	top:0;
	}
	
ul.nav li li:hover li ul, ul.nav li li.sfHover li ul{
	top:-999em;
	}
	
ul.nav li li li:hover ul, ul.nav li li li.sfHover ul{
	left:7em; /* match ul width */
	top:0;
	}
	
/* Default Colours */
.nav a{
	padding:.75em 1.5em;
	text-decoration:none;
	background-color:;
	/*width: px;*/
	}

.nav li.active a{
	color:#999999;
	}
	
.nav a, .nav a:visited, .nav li.active li a{ /* visited pseudo selector so IE6 applies text colour*/
	color:#333333;
	}
	
.nav li{
  position: relative;
  background-color: #2ecc71;
  font-family: "宋体";
  font-weight: 300px;
  color: #FFFFFF;
   -moz-border-radius: 15px;      /* Gecko browsers */
   -webkit-border-radius: 15px;   /* Webkit browsers */
   border-radius:15px;            /* W3C syntax */

	/*text-shadow: 0px -2px #2980B9;*/
	}
	
.nav li li{
	background-color: #3498DB;
	border: 2px solid #2980B9;
	width: 100%;
	}
	
.nav li li li{
background-color: #2ecc71;
  color: #ecf0f1;
	}
	
.nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active{
	 background:#fff;
     color: #009688;
	 -moz-border-radius: 15px;      /* Gecko browsers */
     -webkit-border-radius: 15px;   /* Webkit browsers */
     border-radius:15px;            /* W3C syntax */
	}
	
/*** arrows **/
.nav a.sf-with-ul{
	/*padding-right:2.25em;不需要设置大小 keep font stay weight*/ 
}
.nav li ul a.sf-with-ul{
	padding-right:1em;
	}
	
.sf-sub-indicator{
	position:absolute;
	display:block;
	right:.75em;
	top:1.05em; /* IE6 only */
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	/*background:url("../images/nav_arrows.png") no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */*/
	}
	
a > .sf-sub-indicator{  /* give all except IE6 the correct values */
	top:.8em;
	/*background-position:0 -100px; /* use translucent arrow for modern browsers*/*/
	margin: 1px 16px 3px 3px;
	}
	
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator{
	background-position:-1px -10px; /* arrow hovers for modern browsers*/
	}
	
/* point right for anchors in subs */
.nav ul .sf-sub-indicator{
	background-position:-10px 0;
	}
	
.nav ul a > .sf-sub-indicator{
	background-position:0 0;
	}
	
/* apply hovers to modern browsers */
.nav ul a:focus > .sf-sub-indicator, .nav ul a:hover > .sf-sub-indicator, .nav ul a:active > .sf-sub-indicator, .nav ul li:hover > a > .sf-sub-indicator, .nav ul li.sfHover > a > .sf-sub-indicator{
	background-position:-10px 0; /* arrow hovers for modern browsers*/
	}

	/* ----------------------------------------------Column Navigation-------------------------------------*/

.column .subnav{display:block; padding:25px; background-color:#F9F9F9; margin-bottom:30px;}

.column .subnav h2{
	margin:0 0 20px 0;
	padding:0 0 14px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#F9F9F9;
	line-height:normal;
	border-bottom:1px dotted #666666;
	}

.column .subnav ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.column .subnav li{
	margin:0 0 3px 0;
	padding:0;
	}

.column .subnav ul ul, .column .subnav ul ul ul, .column .subnav ul ul ul ul, .column .subnav ul ul ul ul ul{border-top:none; padding-top:0;}

.column .subnav a{
	display:block;
	margin:0;
	padding:5px 10px 5px 20px;
	color:#666666;
	background:url("../images/red_file.gif") no-repeat 10px center #F9F9F9;
	text-decoration:none;
	border-bottom:1px dotted #666666;
	}

.column .subnav a:hover{color:#A3443E; background-color:#F9F9F9;}

.column .subnav ul ul a, .column .subnav ul ul ul a, .column .subnav ul ul ul ul a, .column .subnav ul ul ul ul ul a{background:url("../images/black_file.gif") no-repeat #F9F9F9;}
.column .subnav ul ul a{padding-left:40px; background-position:30px center;}/*second list*/
.column .subnav ul ul ul a{padding-left:50px; background-position:40px center;}
.column .subnav ul ul ul ul a{padding-left:60px; background-position:50px center;}
.column .subnav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}

/*#menu li ul {display: none;}*/
#pano_holder{
	min-width:600px;
	min-height:767px;

}
#div2 
{
    position:absolute;
    width:230px;
    height:400px;
    border:1px solid #333333;
    background-color:#777788;
    text-align:center;
    line-height:400%;
    font-size:13px;
    right:40px;
    top:190px;
    background-image: url(../images/v6-2.png);
    z-index: 9999;
}

/*bubble*/

   .bubble{
	display:block;
	float:left;
	width:80px;
	height:80px;
	margin:15px 17px 0 0;
	padding:5px;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #B4B4B4;
	}
.bubble .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: -55px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 130px;
  z-index: 99;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.bubble .tooltip:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 90px;
}  

/* CSS Triangles - see Trevor's post */
.bubble .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 90px;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.bubble:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .bubble .tooltip {
  display: none;
}

.lte8 .bubble:hover .tooltip {
  display: block;
}


.bubble1{
	display:block;
	float:left;
	width:80px;
	height:80px;
	margin:15px 17px 0 0;
	padding:5px;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #B4B4B4;
}
.bubble1 .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 75px;
  margin-bottom: -55px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 130px;
  z-index: 99;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.bubble1 .tooltip:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 90px;
}  

/* CSS Triangles - see Trevor's post */
.bubble1 .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 90px;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.bubble1:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .bubble1 .tooltip {
  display: none;
}

.lte8 .bubble1:hover .tooltip {
  display: block;
}

.bubble2{
	display:block;
	float:left;
	width:80px;
	height:80px;
	margin:15px 17px 0 0;
	padding:5px;
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #B4B4B4;
}
.bubble2 .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 175px;
  margin-bottom: -55px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 130px;
  z-index: 99;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.bubble2 .tooltip:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 90px;
}  

/* CSS Triangles - see Trevor's post */
.bubble2 .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 90px;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.bubble2:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .bubble2 .tooltip {
  display: none;
}

.lte8 .bubble2:hover .tooltip {
  display: block;
}

.bubble3{
	display:block;
	float:left;
	width:80px;
	height:80px;
	/*margin:15px 17px 0 0;
	padding:5px;*/
	color:#333333;
	background-color:#FFFFFF;
	border:1px solid #B4B4B4;
}
.bubble3 .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 310px;
  margin-bottom: -55px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 89px;
  z-index: 99;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.bubble3 .tooltip:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 90px;
}  

/* CSS Triangles - see Trevor's post */
.bubble3 .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 61px;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.bubble3:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .bubble3 .tooltip {
  display: none;
}

.lte8 .bubble3:hover .tooltip {
  display: block;
}
.h5{
	color: #FFFFFF;
}
